.hash-row .subtitle {
  font-family: monospace;
}

.card-like {
  border-radius: 12px;
}

.compact-title {
  font-size: 18pt;
}

dropoverlay,
dropoverlay>overlay> :not(revealer) {
  box-shadow: none;
}

dropoverlay .status {
  background-color: color-mix(in srgb, var(--accent-bg-color) 80%, transparent);
  color: var(--accent-fg-color);
}

.no-drop:drop(active) {
  box-shadow: none;
}